# App base URL (frontend)
WEB_URL=http://localhost:3001

# Database connection (ORM)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/iskommerce

# Direct database connection (migrations/tools)
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/iskommerce

# Auth secret (keep private, use strong random value in prod)
BETTER_AUTH_SECRET=astrongbetterauthsecret

# Auth service URL
BETTER_AUTH_URL=http://localhost:3000

# Port
PORT=3000
